@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}


html {
  scroll-behavior: smooth; 
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

}

/* Header */

.header {
  padding-left: 5px;
  padding-right: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header__img {
  width: 204px;
  height: 204px;
  border: 4px rgba(23, 80, 48, 0.334) solid;
  border-radius: 50%;
}



.header__title {
  font-size: 68px;
}

.header__right {
  /* padding-right: 58px; */
}

.header__right-title {


  margin-top: 5px;
  margin-bottom: 40px;
 
}

.title {
  color: #000;
  font-size: 38px;
  background-color: rgb(50, 61, 57);
  text-align: center;
  color: #fff;
}

.header__list {
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
}

.header__item { 
  list-style: none;
}

.header__item:not(:last-child) {
  margin-bottom:10px;
  
}

.header__item-link {
  font-size: 32px;
  text-decoration: none;
  color: #666;
}


/* Main */

.main {
  padding-left: 5px;
  padding-right: 5px;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.main__nav {
display: flex;
}

.main__skills__title {

}

.main__languages-item {
  color: #000;

}

.main__languages-item__level {
  color: red;
}

/* Footer */


.footer {
  padding-left: 5px;
  padding-right: 5px;
}

